In [2]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv(r"C:\Users\prabh\OneDrive\Desktop\tmdb_5000_movies.csv")

In [4]:
credits = pd.read_csv(r"C:\Users\prabh\OneDrive\Desktop\tmdb_5000_credits.csv")

In [5]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [6]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
#merging two dataframes on basis of title

In [8]:
movies=movies.merge(credits,on='title')

In [9]:
#not useful columns :
# budget
#homepage
# highly imbalanced data with majority english so we will remove
#popularity
#production company
# production country
#rel.ease date and so and so on

In [10]:
movies = movies[['genres','keywords','overview','title','cast','crew','id']]

In [11]:
movies.head()

,genres,keywords,overview,title,cast,crew,id
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",49026
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",49529

In [12]:
# we need to create tags

In [13]:
#missing data

In [14]:
movies.isnull().sum()

genres      0
keywords    0
overview    3
title       0
cast        0
crew        0
id          0
dtype: int64

In [15]:
movies.dropna(inplace=True)

In [16]:
movies.duplicated().sum()

np.int64(0)

In [17]:
#formatting the columns

In [18]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [19]:
# ast and literal eval 
import ast

In [20]:
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [21]:
movies['genres']=movies['genres'].apply(convert)

In [22]:
movies['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [23]:
movies['keywords']=movies['keywords'].apply(convert)

In [24]:
movies.head()

,genres,keywords,overview,title,cast,crew,id
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",49026
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",49529

In [25]:
movies['cast']

0       [{"cast_id": 242, "character": "Jake Sully", "...
1       [{"cast_id": 4, "character": "Captain Jack Spa...
2       [{"cast_id": 1, "character": "James Bond", "cr...
3       [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4       [{"cast_id": 5, "character": "John Carter", "c...
                              ...
4804    [{"cast_id": 1, "character": "El Mariachi", "c...
4805    [{"cast_id": 1, "character": "Buzzy", "credit_...
4806    [{"cast_id": 8, "character": "Oliver O\u2019To...
4807    [{"cast_id": 3, "character": "Sam", "credit_id...
4808    [{"cast_id": 3, "character": "Herself", "credi...
Name: cast, Length: 4806, dtype: object

In [26]:
# we just need first three 
def convert1(obj):
    l=[]
    counter=0
    for i in ast.literal_eval(obj):
        counter=counter+1
        l.append(i['name'])
        if(counter==3):
            break;
        
    return l

In [27]:
movies['cast']= movies['cast'].apply(convert1)

In [28]:
movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [29]:
# in crew we will focus on director

In [30]:
def director(obj):
    l=[]
    
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            l.append(i['job'])
            
        
    return l

movies['crew']=movies['crew'].apply(director)

In [31]:
movies['crew']=movies['crew'].apply(director)

In [32]:
movies['overview'].apply(lambda x:x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [33]:
# concatinating all lists

In [34]:
# apply transformation yo remove spaces

In [35]:
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [36]:
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [37]:
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [38]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [39]:
movies.head()

,genres,keywords,overview,title,cast,crew,id
0,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[Director],19995
1,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[Director],285
2,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",A cryptic message from Bond’s past sends him o...,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[Director],206647
3,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[Director],49026
4,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","John Carter is a war-weary, former military ca...",John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[Director],49529

In [40]:
#new columns as tags

In [49]:
#movies['tags']=movies['cast']+movies['crew']+movies['overview']+movies['genre']+movies['keywords']

In [50]:
#movies['tags'] = movies['cast']  + movies['crew'] + ' ' + movies['overview'] + ' ' + movies['genre'] + ' ' + movies['keywords']

In [51]:
movies['tags'] = movies['cast'].apply(lambda x: ' '.join(x)) + ' ' + \
                 movies['crew'].apply(lambda x: ' '.join(x)) + ' ' + \
                 movies['overview'] + ' ' + \
                 movies['genres'].apply(lambda x: ' '.join(x)) + ' ' + \
                 movies['keywords'].apply(lambda x: ' '.join(x))

In [52]:
movies.tags.head(1)

0    SamWorthington ZoeSaldana SigourneyWeaver Dire...
Name: tags, dtype: object

In [53]:
new_df = movies[['id','title','tags']]

In [54]:
new_df

,id,title,tags
0,19995,Avatar,SamWorthington ZoeSaldana SigourneyWeaver Dire...
1,285,Pirates of the Caribbean: At World's End,JohnnyDepp OrlandoBloom KeiraKnightley Directo...
2,206647,Spectre,DanielCraig ChristophWaltz LéaSeydoux Director...
3,49026,The Dark Knight Rises,ChristianBale MichaelCaine GaryOldman Director...
4,49529,John Carter,TaylorKitsch LynnCollins SamanthaMorton Direct...
...,...,...,...
4804,9367,El Mariachi,CarlosGallardo JaimedeHoyos PeterMarquardt Dir...
4805,72766,Newlyweds,EdwardBurns KerryBishé MarshaDietlein Director...
4806,231617,"Signed, Sealed, Delivered","EricMabius KristinBooth CrystalLowe Director ""..."
4807,126186,Shanghai Calling,DanielHenney ElizaCoupe BillPaxton Director Wh...
4808,25975,My Date with Drew,DrewBarrymore BrianHerzlinger CoreyFeldman Dir...

In [55]:
new_df['tags'][0]

'SamWorthington ZoeSaldana SigourneyWeaver Director In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d'

In [59]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=5000,stop_words='english')

In [77]:
#vectors=cv.fit_transform(new_df['tags']).toarray()

In [78]:
#vectors[0]

#cv.get_feature_names()

#cv.get_feature_names()

In [79]:
#cv.get_feature_names()

In [80]:
# stemming

In [81]:
import nltk

In [85]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [86]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [87]:
new_df['tags'].apply(stem)

0       samworthington zoesaldana sigourneyweav direct...
1       johnnydepp orlandobloom keiraknightley directo...
2       danielcraig christophwaltz léaseydoux director...
3       christianbal michaelcain garyoldman director f...
4       taylorkitsch lynncollin samanthamorton directo...
                              ...
4804    carlosgallardo jaimedehoyo petermarquardt dire...
4805    edwardburn kerrybishé marshadietlein director ...
4806    ericmabiu kristinbooth crystallow director "si...
4807    danielhenney elizacoup billpaxton director whe...
4808    drewbarrymor brianherzling coreyfeldman direct...
Name: tags, Length: 4806, dtype: object

In [94]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [95]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

from sklearn.metrics.pairwise import

In [96]:
from sklearn.metrics.pairwise import cosine_similarity

In [128]:
similarity =cosine_similarity(vectors)

In [129]:
# array of arrays

In [134]:
def recommend(movie):
    #fetch the index
    movie_index = new_df[new_df['title']==movie].index[0]
    distances=[]
    distances = similarity[movie_index]
    # list to list of tuples
    top=sorted(list(enumerate(distances)),reverse=True,key= lambda x:x[1])[1:6]
    for i in top:
        print(i[0])
       print( new_df.iloc[i[0]].title)

In [135]:
recommend('Avatar')

539
1192
260
1214
507

In [ ]:
new_df.iloc[''].title